#Title{
        position:absolute; top:0; left:0;
 	      width:100%;
        height:8%;
        text-align:center;
        z-index:2;
        font-family: 'Gloria Hallelujah', cursive;
        color:red;
        font-size: 2vw;
        text-shadow: 4px 4px 4px #aaa;
      }
#FormFooter{
        position:absolute; top:84%; left:0;
 	      width:100%;
        height:6%;
        text-align:center;
        z-index:2;
        font-family: 'Gloria Hallelujah', cursive;
        color:red;
        font-size: 48px;
        text-shadow: 4px 4px 4px #aaa;
      }

#formHeader{
        position:absolute; top:5%; left:0;
        z-index:3;
        width:80%;
        height:8%;
        text-align:left;
        color:red;
        font-size: 24px;
        text-shadow: 4px 4px 4px #aaa;
      }
#FolderSelect{
        position:absolute;
        z-index:3;
        height:8%;
        width:50%;
        top:8%;
        overflow:hidden;
      }
#FormMain{
        position:absolute; top:16%; left:0;
        z-index:2;
        width:50%;
        height:74%;
        overflow:auto
      }
#FormMainOverlay{
        position:absolute; top:20%; left:0;
        z-index:3;
        width:50%;
        height:66%;
        overflow:auto
      }
#imageselect{
        position:absolute; top:16%; left:50%;
        z-index:2;
        width:50%;
        height:74%;
        overflow:auto;
      }
#imageselectOverlay{
        position:absolute; top:20%; left:50%;
        z-index:3;
        width:50%;
        height:66%;
        overflow:hidden;
      }
#MainOverlay{
         width:100%;
         height:100%;
         background: pink;
         object-fit: contain;
         overflow: hidden;
         border-style:solid;
         border-width:10px;
         border-color:pink;
      }
#background{
        position:absolute;
	      background: pink no-repeat fixed center;
	       background-image: url(../img/backgrounds/CyanBG.jpg );
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: contain;
         background-position: 50% 0%;
        z-index:1;
	      width:100%;
	      height:100%;
	      top:0;
	      left:0;
	      text-align:center;
      }
input.numfield{
        width:5%;
      }
input.textfield{
        width:20%;
      }
input.remaining{
        width:auto;
      }
td.tdclear{

    }
img.tableimg{
      max-height:90px;
    }
.container {
  position: relative;
  text-align: center;
  color: magenta;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}