#Title{
        position:absolute; top:0; left:0;
 	      width:100%;
        height:8%;
        text-align:center;
        z-index:5;
        font-family: 'Gloria Hallelujah', cursive;
        color:red;
        font-size: 24px;
        text-shadow: 4px 4px 4px #aaa;

      }

#Notice{
        position:absolute; top:88%; left:0;
 	      width:100%;
        height:12%;
        text-align:center;
        z-index:5;
        font-family: 'Gloria Hallelujah', cursive;
        color:red;
        font-size: 48px;
        text-shadow: 4px 4px 4px #aaa;
      }

#controls{
        position:absolute; top:0; left:0;
        z-index:6;
        width:100%;
        height:15%;
        display:none;
      }


#hidedisplay{
        display:none;
      }
      
#output{
        position:absolute; top:60%; left:0;
        z-index:6;
        width:100%;
        height:30%;
        display:none;
      }
.slider{
   position:relative;
   top:50%;
   left: 10%;
   transform: RotateZ(270deg);
   transform-origin:10% 50%;
}
.sliderbox{
  position:relative;
  width:5%;
  height:100%;
  display:inline-block;
  text-align:center;
}
.sliderbox input[type=textbox]{
  position:relative;
  top:60%;
  width:100%;
}
#outputobjects{
        position:absolute; top:0%; left:0;
        z-index:6;
        width:100%;
        height:30%;
        visibility:hidden;
      }

#background{
        position:absolute;
	      background: coral no-repeat fixed center;
	       //background-image: url( ../img/Backgrounds/OrangeBG.jpg);
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: contain;
         background-position: 50% 0%;
        z-index:-1;
	      width:100%;
	      height:100%;
	      top:0;
	      left:0;
	      text-align:center;
      }


#vid {
        position:absolute ;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:block;
        z-index:2;
      }

#myVideo {
       position: fixed;
       left: 50%;
       transform:translate(-50%);
       top:0%;
       min-height: 100%;
       max-height: 100%;
       width: auto;
       height: auto;
       z-index: -100;
       background-size: cover;
       overflow: hidden;
      }

#clock{
  position:absolute;
  top:95%;
  width:10%;
  left:0%;
}
#func{
  position:absolute;
  top:95%;
  width:20%;
  left:20%;
}